## Working with Text Data and Argument Specifiers

In [4]:
product_category = 'A'
print('This item is from product category "%s".' % product_category)

# Argument specifier: "%s"
# Used after the desired string is placed, then use the modulus operator and place the variable.

This item is from product category "A".

In [8]:
product_category = ['A', 'B', 'C']
print('This item is from product category "%s".' % product_category[2])

# Argument specifier can also be used with lists while specifying the value within them.
# %s - the combination of symbols that we use to indicate where we would like to insert not just a string, 
# but also any value or object that can have a styring representation.

This item is from product category "C".

In [9]:
quantities = [500, 600]
print('This item is from product category "%s".' % quantities[1])

This item is from product category "600".

In [10]:
# Note that "%d" - the argument specifier for inserting integers.
print("We currently have %d available units of this item." % quantities[0])

We currently have 500 available units of this item.

In [12]:
stock_share_price_list = [40.50, 60.35]
print("This stock costs $%f per share." % stock_share_price_list[1])

# Note that "%f" - provides six digits after the decimal point. We can add the following indicators: 

# "$%f": $60.3500000
# "$%.f": $60
# "$%.1f": $60.4
# "$%.2f": $60.35

This stock costs $60.350000 per share.

In [16]:
i = 1
print("Currently, we have %d units of category \"%s\" products in store." % (quantities[i], product_category[i]))

# By using the varibale "i", we can switch the values presented in the console without altering the existing code.

Currently, we have 600 units of category "B" products in store.

## Manipulating Python String

In [17]:
# All string manipulation techniques involve the use of character combination with a backslash "(\)"

In [20]:
# \n (End of Line) - creates a new line and places the content there.
print('This product is from \n\nCategory "A".')

This product is from

Category "A".

In [21]:
# \t (Tab) - creates a space in between strings.
print('This product is from Category "A". \t\t That product is from category "B".')

This product is from Category "A". 		 That product is from category "B".

In [23]:
# \r (Carriage Return) - replaces the same number of characters at the start.
print('This product is from Category "A". \rProduct 0001')

Product 0001

## Using Various Python String Methods - Part 1

In [24]:
# String Methods are text manipulation techniques.

In [25]:
s = 'Price per unit'
s

'Price per unit'

In [26]:
s1 = s.replace('Price', 'Cost') # first parameter is the word we wish to remove, second is the replacement
s1

'Cost per unit'

In [27]:
# The methods ".startswith()" and ".endswith()" are used to check if a certain string begins or ends with the
# string that has been specified as an argument. (not required to be a full word, and it is case sensitive)

In [28]:
s1.startswith('Cost')

True

In [29]:
s1.startswith('cost')

False

In [30]:
s1.endswith('Price')

False

In [32]:
s1.endswith('nit')

True

In [33]:
# The method ".split()" is used to split the original string by a specified argument and returns 
# a list containing the separate values.

In [34]:
s1.split() # Using the method with no arguments automatically separates the string by the spaces contained within it.

['Cost', 'per', 'unit']

In [36]:
len(s1.split())

3

In [38]:
s1.split(" ", maxsplit = 0) # No splits will take place. If we switch the value to a number higher than the 
# existing spaces, no change will occur.

['Cost per unit']

In [39]:
s2 = 'Mr., John, Wilson'

In [43]:
s2.split(',') # It accepts more than whitespaces as argument for splitting.

['Mr.', ' John', ' Wilson']

## Using Various Python String Methods - Part 2

In [52]:
# There are string methods that can 'change the case' of the characters and others used for 'stripping characters'.

# Group #1: .upper(), .lower(), .capitalize(), .title()
# Group #2: .strip()

In [53]:
s3 = 'Mrs. Amy Moore'

In [54]:
s3.upper()

'MRS. AMY MOORE'

In [55]:
s3.lower()

'mrs. amy moore'

In [56]:
s3.capitalize()

'Mrs. amy moore'

In [57]:
s3.title()

'Mrs. Amy Moore'

In [58]:
s3 == s3.title()

True

In [59]:
'Cost per unit'.title()

'Cost Per Unit'

In [60]:
# ----

In [65]:
s4 = '   quarterly earnings report   '

In [66]:
s4.strip() # Removes all whitespace at the begining and the end of the string by default.

'quarterly earnings report'

In [63]:
# The .strip() method looks for any of the characters specified between the quotes on both ends 
# of the given string and removes these characters until it encounters a different character.

In [67]:
s4.strip(' qt')

'uarterly earnings repor'

In [68]:
s4.strip('qt')

'   quarterly earnings report   '

In [70]:
s4.strip(' ')

'quarterly earnings report'

In [71]:
# In the case that we want to remove characters from a specific side of the string, not both sides as the default version, 
# we use ".lstrip()" and ".rstrip()"

In [72]:
s4.lstrip()

'quarterly earnings report   '

In [73]:
s4.rstrip()

'   quarterly earnings report'

In [74]:
s4.strip(' quarterly')

'nings repo'

In [75]:
s5 = s4.strip()

In [76]:
s5.lstrip('quarterly')

' earnings report'

In [77]:
s5.rstrip('report')

'quarterly earnings '

In [78]:
s6 = ' %&!quarterly earnings report  *'

In [79]:
s6.strip(' !@#$%^&*()')

'quarterly earnings report'